
<!-- <div *ngFor = "let event of events" class="event-list-container" style="margin-top: 50px"> -->
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top">
        <div class="card-body row">
            <div class="col-3">
                Hello
            </div>
            <div class="col-6">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="col-3">
                Price
            </div>
        </div>
    </div>
<!-- </div> -->
